*{
    margin:0px;
    padding:0px;
}
.dark{
    background-color: #1d1d1d;
}
h1,h2,h3,h4,h5,h6,p{
    color:#fff;
}
hr {
    margin-top: unset;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(69 66 66 / 42%);
}
.btn-primary{
    background:#c5394b !important;
    border-color:#c5394b !important;
}
.skills:hover
{
    filter:unset !important;
    border: 2px solid #fff !important;
}
.contact-crev:after {
    content: '';
    width: 80vw;
    height: 80vw;
    border: 200px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -15vw;
    right: -30vw;
    opacity: .01;
    pointer-events: none;
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1240px;
    }
}
